<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="marbles.mx landing page">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>marbles.mx | get in the mix</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'icon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page" class="<%= params[:controller] %>">
    <%= render "layouts/application/error_messages" %>
    <div id="header-region"></div>
    <div id="main-region">
      <%= yield %>
    </div>
    <div id="footer-region"></div>
  </div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript">
    var $buoop = {};
    $buoop.ol = window.onload;
    window.onload = function() {
      try {
        if ($buoop.ol) {
          $buoop.ol();
        }
      } catch (e) {}
      var e = document.createElement("script");
      e.setAttribute("type", "text/javascript");
      e.setAttribute("src", "//browser-update.org/update.js");
      document.body.appendChild(e);
    };
  </script>
</body>
</html>
