<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="marbles.mx landing page">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>marbles.mx | get in the mix</title>
  <link href='http://fonts.googleapis.com/css?family=Rosario:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= favicon_link_tag "icon.ico" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page" class="<%= params[:controller] %>">
    <%= render "layouts/application/error_messages" %>
    <div id="header-region" class="fixed"></div>
    <div id="fake-header">get in the mix</div>
    <div id="main-region" class="container"></div>
    <div id="fake-footer">get in the mix</div>
    <div id="footer-region"></div>
  </div>
  <%= javascript_include_tag "application" %>
  <%= render "layouts/application/browser_update" %>
</body>
</html>
